*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	background-color: #DDD;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color:#000;
	max-width: 2000px;
	min-width: 1400px;
	margin:0 auto;
}

.clear{
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	font-size: 2rem;
	line-height: 2rem;
	color: hotpink;
}
h2{
	font-size: 1.6rem;
	line-height: 1.6rem;
}
h1 span{
	font-size: 1.1rem;
	line-height: 2rem;
	font-style: italic;
}

label:hover{
	cursor: pointer;
}

main{
	display: none;
}

header{
	position: fixed;
	width: 100%;
	top:0;
	left: 0;
	background-color: #00000066;
	z-index: 1200;
	height: 100%;
	opacity: 0;
	display: none;
}
header #msg{
	width: 400px;
	margin: 0 auto;
	padding: 40px 40px;
	text-align: center;
	font-size: 18px;
	color: #000;
	background-color: hotpink;
	margin-top: 100px;
	border-radius: 4px;
	border:5px solid #000;
}


/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
nav{
	background-color: #222;
	padding: 10px;
	margin-bottom: 20px;
}

nav button{
	position: absolute;
	top:5px;
	right: 5px;
	display: block;
	background-color:#F5B935;
	opacity: 0.5;
	padding: 5px 10px;
}
nav button:hover{
	opacity: 1;
}

/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/

button, button:focus{
	border:0;
	outline: 0;
	padding: 5px 20px;
	cursor: pointer;
	border-radius: 3px;
	font-size: 1rem;
	transition:  0.4s;
}

button.oneShot{
	background-color: #7f95b7;
	border:1px solid #7f95b7;
}
button.oneShot:hover{
	border:1px solid #333;
}

button.onOff[data-activ='on']{
	background-color: #0075ff !important;
	color: #000 !important;
}
button.onOff[data-activ='off']{
	background-color: #F5B935 !important;
	color: #000 !important;

}

/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/

select, select:focus{
	border:0;
	outline: 0;
	padding: 5px 20px;
	cursor: pointer;
	background-color: #999;
	width: 100%;
	border-radius: 3px;
	font-size: 1rem;
}


/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/

div[id^='line'] > div.w3-col {
    border-right: 1px solid #666;
    margin-bottom: 20px;
}
div[id^='line'] > div.w3-col:last-child {
    border-right: 0;
}

.panel h2{
	font-size: 1.6rem;
	text-align: center;
	background-color: #333;
	margin-bottom: 10px;
	border-radius: 3px;
	padding: 3px;
	color: hotpink;
}

div.panel{
	padding: 10px;
}

div#line1 input.w3-check {
  width: 15px;
  height: 15px;
  top:2px;
}
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/*** MODAL ***/


#modals .modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  padding-top: 50px; 
  padding-bottom: 50px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#modals .modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

#modals ul{
	list-style: none;
}



/***********************************************************************************************************/
/*** MIDI CHECKER ***/
#modals #midiCheckerModal {
  display: block;
}

#infoConek > p{
	margin:4px 0;
	text-align: center;
}

#midiCheckerModal h1{
	text-align: center;
	background-color: #333;
	padding: 8px;
	margin-bottom:20px;
}

#inout h2{
	text-align: center;
	background-color: #333;
	color: hotpink;
	margin-top:20px;
	padding: 5px;
}

#inout li{
	background-color: #FFF;
	padding: 20px;
	margin:10px 0;
	clear: both;
}

#inout li > div{
	margin:4px 0;
}

#inout div.i{
	font-size: 10px;
}

#inout .key{
	float: left;
}
#inout li > div{
	margin-left: 40px;
}
#inout li > div:first-child{
	margin-left: 0px;
}

#inout .n{
	font-weight: bold;
}

#midiCheckerModal span.good{
	background-color: #5fbd5f;
	display: inline-block;
	padding: 2px 4px;
	border-radius: 2px;
}
#midiCheckerModal span.warn{
	background-color: #bd5f5f;
	display: inline-block;
	padding: 2px 4px;
	border-radius: 2px;
}